# services:
#   web:
#     build: .
#     command: gunicorn BackPage.wsgi:application --bind 0.0.0.0:9000 --workers 3
#     volumes:
#       - .:/app
#     env_file:
#       - .env
#     environment:
#       - CELERY_BROKER_URL=redis://redis:6379/0
#       - CELERY_RESULT_BACKEND=redis://redis:6379/0
#     depends_on:
#       - redis
services:
  web:
    build: .
    command: >
      gunicorn BackPage.wsgi:application --bind 0.0.0.0:9000 --workers 3
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    depends_on:
      - redis
    ports:
      - "9000:9000"

  worker:
    build: .
    command: celery -A BackPage worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    depends_on:
      - redis
      - web

  redis:
    image: redis:alpine
    ports:
      - "6378:6379"
  # nginx:
  #   image: nginx:latest
  #   container_name: nginx
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/conf.d/default.conf
  #     - ./staticfiles:/static
  #     - ./media:/media
  #   depends_on:
  #     - web
